body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

p{
    font-size: 16px;
    color: aquamarine;
}

.videoInsert {
    position: center; 
    right: 0; 
    bottom: 0;
    min-width: 10%; 
    min-height: 30%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

h2, h4{
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h3{
    
}

.border{
    padding-top: 30px;
}

footer{
    font-size: 21px;
    text-align: right;
    color: grey;
}
